@using Lochi.Portfolio.Shared
@inherits LayoutComponentBase
@inject RenderingContext RenderingContext;
<div class="relative min-h-screen md:flex">
    <NavMenu />
    <div class="flex-1 text-blue-500">
        @if (ShowNotification)
        {
            <div class="bg-green-100 mb-2 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Please note!</strong>
                <span class="block sm:inline">@NewNotificationMessage</span>
                <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                    <svg @onclick="ResetNotificationState" class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" /></svg>
                </span>
            </div>
        }
        @Body
    </div>
</div>
@code {
    private bool ShowNotification = true;
    private string NewNotificationMessage 
    = "This page is prerendered! Please give the application a bit of time to load, the page may be unresponsive";

    protected override void OnInitialized()
    {
        if (!RenderingContext.IsPrerendering)
        {
            NewNotificationMessage = "Application has been loaded 😄";
        }
    }

    private void ResetNotificationState()
    {
        ShowNotification = false;
    }
}
